[Unit]
Description=Image Colour Swap

[Service]
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
ExecStart=/usr/bin/dotnet /home/ec2-user/ImageColourSwap/Web.dll
KillSignal=SIGINT
SyslogIdentifier=ImageColourSwap
Restart=always
RestartSec=10
User=ec2-user
WorkingDirectory=/home/ec2-user/ImageColourSwap

[Install]
WantedBy=multi-user.target