html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.begin-button {
  width: 20%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.centred-text {
  text-align: center;
}

.flex-display {
  display: flex;
}

.image-card {
  border-style: solid;
  border-color: lightgray;
  margin: 50px;
  padding: 25px;
  text-align: center;
}

.image-card-results {
  border-style: solid;
  border-color: lightgray;
  margin: 10px;
  padding: 25px;
  text-align: center;
}

.image-frame {
  background-color: #d3d3d32b;
  height: 250px;
  margin-bottom: 20px;
  width: 95%;
}

.image-frame-large {
  background-color: #d3d3d32b;
  height: 500px;
  margin-bottom: 20px;
  width: 95%;
}

.image-frame-small {
  background-color: #d3d3d32b;
  height: 183px;
  margin-bottom: 20px;
  width: 95%;
}

.gallery-card {
  border-style: solid;
  border-color: lightgray;
  height: 10%;
  margin-right: 5px;
  padding: 5px;
  text-align: center;
  width: 20%;
}

.gallery-card-small {
  background-color: #d3d3d32b;
  height: 50%;
  margin-bottom: 2px;
  width: 95%; 
}

.gallery-card-result {
  background-color: #d3d3d32b;
  height: 50%;
  margin-bottom: 2px;
  padding-bottom: 48%;
  padding-top: 48%;
  width: 95%; 
}

.no-text-wrap {
  white-space: nowrap;
}

.one-third-width {
  width: 33%;
}

.results-left {
  float: left;
  width: 33%;
}

.results-right {
  float: right;
  width: 67%;
}

.sign-in-container {
  display: flex;
}

.sign-in-divs {
  padding: 5px;
  width: 50%;
}

#sign-in-div:hover #sign-out-tooltip {
  opacity: 1;
}

#sign-out-tooltip {
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip-text {
  background-color: lightgray;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 25px;
  text-align: center;
  top: 40px;
  width: 100px;
  z-index: 2;
}